<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Swap</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Plant Swap</h1>
    </div>
    <div class="container">
        <h2>Available for Trade</h2>
        <ol>
        {% for plant in plants %}
            <li>{{ plant.name }}</li>
            <a href="{% url 'update_plant' plant.id %}">Update</a>
            <a href="{% url 'delete_plant' plant.id %}">Delete</a>
        {% endfor %}
        </ol>
    </div>
    <div>
    <form method="POST" action="{% url 'add_plant' %}">
        {% csrf_token %}
        <div class="control">
            {{ form.name }}
        </div>
        <div class="control">
            <button class="button is-link">Add</button>
        </div>
    </form>
    </div>
    <div class="content">
        <a href="{% url 'home' %}">Cancel</a>
    </div>

</body>

</html>