{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="mapPanel"></div>
    <div class="userInfoPanel">
        <div class="container">
            <h2 class="username">{{request.user.first_name}} {{request.user.last_name}}</h2>
            <h3 class="address">Address</h3>
            <p class="address">{{request.user.address}}</p>
            <p class="address">{{request.user.city}}, {{request.user.state}} {{request.user.zip_code}}</p>
            <h3 class="birthday">Birthday</h3>
            <p class="birthday">{{request.user.birthday}}</p>
        </div>
        <hr>
        <div class="container">
            <h2>Wishlist</h2>
            <ol>
                {% for wish in wishes %}
                    <li>{{ wish.name }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="container">
            <h2>Available for Trade</h2>
            <ol>
                {% for plant in plants %}
                    <li>{{ plant.name }}</li>
                {% endfor %}
            </ol>
        </div>
        <hr>
        <div class="content">
            <a class="btn btn-outline-dark" href="{% url 'add_plant' %}">Edit</a>
        </div>
    </div>
{% endblock %}