<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Swap</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Plant Swap</h1>
    </div>
    <div class="container">
        <h2>Update Item</h2>

    </div>
    <div>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="control">
            {{ form }}
        </div>

        <input type="submit" name="Update Item">
    </form>
    </div>
    <div class="content">
        <a href="{% url 'home' %}">Cancel</a>
    </div>

</body>

</html>