<style>
    .suggestion {
        width: 150px;
        border: 2px solid green;
        padding: 20px;
    }
</style>

<form action="{% url 'search_plants' %}" method="GET" value="{{request.GET.q}}">
    Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search for a plant..."/>
    <input type="submit" name="submit" value="Search"/>
</form>
    
{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h2>Results for <b>{{ request.GET.q }}</b></h2>
<br/><br/>

{% for result in results %}
<div class='suggestion'>

{{result.name}}
<br/>
{{result.user}}
({{result.user.id}})
<br/>

</div>

{% endfor %}
{% else %}
No search results for this query
{% endif %}
{% endif %}